<template>
  <div class="flex justify-center gap-10 my-10">
    <q-img src="/vite.svg" class="w-24 logo"></q-img>
    <q-img :src="vueSvg" class="w-24 logo"></q-img>
    <q-img
      src="https://cdn.quasar.dev/logo-v2/svg/logo.svg"
      class="w-24 logo"
    ></q-img>
  </div>
  <h1 class="w-full text-center text-2xl my-5">Vite + Vue + Quasar</h1>

  <q-card class="container mx-auto">
    <q-card-section class="flex justify-center">
      <q-btn color="primary" @click="count++">count is {{ count }}</q-btn>
    </q-card-section>
    <q-card-section class="text-center">
      <p>
        Edit
        <code class="bg-gray-200 mx-2">pages/HelloWorld.vue</code> to test HMR
      </p>
    </q-card-section>
  </q-card>
</template>

<script setup lang="ts">
import { toRefs } from 'vue'
import { useCounter } from '@store/counter'
import vueSvg from '@assets/vue.svg'

const { count } = toRefs(useCounter())
</script>

<style lang="scss">
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
</style>
