<template>
  <main
    class="error-page window-height window-width bg-light column items-center no-wrap"
  >
    <section
      class="error-code bg-primary flex items-center content-center justify-center"
    >
      404
    </section>
    <section
      class="error-card shadow-4 bg-white column items-center justify-center no-wrap"
    >
      <q-icon name="error_outline" color="grey-5" />
      <p class="text-center text-xl q-my-md">访问的页面不存在...</p>
      <div class="text-center group">
        <q-btn
          v-if="canGoBack"
          color="primary"
          push
          icon="keyboard_arrow_left"
          class="q-mr-md"
          @click="goBack"
        >
          返回上一页
        </q-btn>
        <q-btn color="primary" push icon="home" @click="$router.replace('/')">
          返回首页
        </q-btn>
      </div>
    </section>
  </main>
</template>

<script lang="ts" setup>
import { computed } from 'vue'

const canGoBack = computed(() => window.history.length > 1)

function goBack() {
  window.history.go(-1)
}
</script>

<style lang="scss">
.error-page {
  .error-code {
    height: 50vh;
    width: 100%;
    padding-top: 15vh;
    @media (orientation: landscape) {
      font-size: 30vw;
    }
    @media (orientation: portrait) {
      font-size: 30vh;
    }
    color: rgba(255, 255, 255, 0.2);
    overflow: hidden;
  }

  .error-card {
    border-radius: 2px;
    margin-top: -50px;
    width: 80vw;
    max-width: 600px;
    padding: 25px;

    & > i {
      font-size: 5rem;
    }
  }
}
</style>
