<template>
  <q-layout view="hHh lpR fFf">
    <q-header elevated class="layout-header bg-gray-50 text-gray-800">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <q-icon name="plagiarism" color="primary" size="30px" />
          </q-avatar>
          Demo System
        </q-toolbar-title>
        <div class="q-space flex text-blue-8">
          <router-link
            v-for="link in mainRouteChildren"
            :key="link.name"
            :to="link.path"
            >{{ link.name }}
          </router-link>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view v-slot="{ Component, route }">
        <keep-alive :include="keepAliveIncludes">
          <suspense>
            <template #default>
              <component
                :is="Component"
                :key="route.name ?? route.path ?? undefined"
              />
            </template>
            <template #fallback>加载中...</template>
          </suspense>
        </keep-alive>
      </router-view>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { mainRouteChildren } from '@router/routes'

const keepAliveIncludes = ref([])
</script>
